html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(
        60deg, #554446, #6b6058
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.gallery {
    display: flex;
    left: calc(50% - 330px);
}

.card {
    position: relative;
    transition:1s ease-in-out;
    margin: 10px;
    display: grid;
    place-items: center;
    grid-template-areas: "center";
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.card  * {
    grid-area: center;
}

.card img {
    width: 350px;
    aspect-ratio:  1 / 1;
    border-radius: 20px;
    object-fit: cover;
}

.card p {
    opacity: 0;
    color: white;
    font-size: larger;
}

.card .container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    bottom: 10px;
    opacity: 0;
    color: white;

}

.card:is(:hover, :focus) p {
    opacity: 1;
    transform: scale(1.2);
    transition:0.7s ease-in-out;
}

.card:is(:hover, :focus) img {
    filter: brightness(0.5);
    transform: scale(1.2);
    transition:1s ease-in-out;
}

.card:is(:hover, :focus) .container {
    opacity: 1;
    transition: 1s ease-in-out; 
    :first-child {
        transform: translateX(100%) translateY(-60%) scale(1.3); transition: 1s ease-in-out; 
    };
    :nth-child(2) {
        transform: translateX(-100%) translateY(-60%) scale(1.3);
        transition: 1s ease-in-out; 
    };
}

.card:not(:hover) * {
    transition: 1s ease-in-out;
}



